/* You can add global styles to this file, and also import other style files */
@import "~@telerik/kendo-theme-default/styles/packages/all";

.main {
  display: flex;
}

.tenants {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 350px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  padding-top: 50px;
  font-size: 12px;
}

.tenant-item {
  padding-left: 10px;
  flex-grow: 1;
}
