<div class="media">
  <div class="media-left">
    <img class="media-object" src="/assets/images/feature.png" alt="Generic placeholder image" width="98px" height="83px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Mongo</h4>
    Tenant의 MongoDB State를 확인합니다.
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <app-tenant-list [tenants]="tenants" (selectedTenant)="onSelectedTenant($event)"></app-tenant-list>
  </div>
  <div class="col-md-8">
    <!--<app-tenant-feature [targetTenant]="targetTenant" (changeFeatures)="onChangeFeatures($event)"></app-tenant-feature>-->
  </div>
</div>
